
<div class="">
 
  <div class=" col-md-4 m-4 mx-auto text-secondary">
    <h5 class="text-"> Get started on your Egypt holiday with these helpful tips and tools.</h5>
  </div>

  <div class="container">
    <div class="">
      <h3 class="col-md-3"> Start planning</h3>
      <p class="col-md-6">Find a range of essential information – from basic customs to hotels, restaurants, public
        transport and discounts. </p>
    </div>

    <div class=" container">
      <div class="row">
        <div class=" col-md-4 pt-4 col-6 ">
          <div class="item card shadow">
            <img class="card-img-top " src="images/plan1.jpg">
            <div class="card-body">
              <h5 class="card-title">Practical information</h5>
              <p class="card-text">Need to change money? Don't know what to wear? We've got you covered.</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4 pt-4 col-6  ">
          <div class="item card shadow">
            <img class="card-img-top " src="images/plan1.jpg">
            <div class="card-body">
              <h5 class="card-title">Practical information</h5>
              <p class="card-text">Need to change money? Don't know what to wear? We've got you covered.</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4 pt-4 col-6  ">
          <div class="item card shadow">
            <img class="card-img-top " src="images/plan1.jpg">
            <div class="card-body">
              <h5 class="card-title">Practical information</h5>
              <p class="card-text">Need to change money? Don't know what to wear? We've got you covered.</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4 pt-4 col-6 ">
          <div class="item card shadow">
            <img class="card-img-top " src="images/plan1.jpg">
            <div class="card-body">
              <h5 class="card-title">Practical information</h5>
              <p class="card-text">Need to change money? Don't know what to wear? We've got you covered.</p>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="container">
      <div class=" row py-5 align-items-center">
        <div class="img-container col-md-6">

          <img src="images/plan1.jpg" class="img-fluid">
        </div>

        <div class="col-md-6  bg-warning rdiv overlap">
          <h2 class="m-3"> Save up to 60% with Dubai Pass </h2>
          <p>
            Experience all that's possible with the Dubai Pass. Create your own tailor-made itinerary, choosing from 48
            must-visit attractions and activities.
          </p>
          <button type="button" class="btn btn-outline-light p-3 mb-3"> Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
