<div class="container">
  <h3 class="mt-4">Select your trip date </h3>

  <form [formGroup]="PorgramForm" (ngSubmit)="save()">
    <div class="row">
      <div class="form-group col-3">
        <label class="control-label" for="date">From</label>
        <input type="date" class="form-control" formControlName="from" id="date" name="from" placeholder="MM/DD/YYY" type="text" />
      </div>
      <div class="form-group col-3">
        <label class="control-label" for="date">to</label>
        <input type="date" class="form-control" formControlName="to" id="date" name="to" placeholder="MM/DD/YYY" type="text" />
      </div>

    </div>


    <div class="hotel">
      <h3 class="mt-4">Select city to show recmoneded hotels </h3>
      <div class="form-group col-3 ">
        <label for="cCity" class=" form-label" id="">city</label>
        <select class="form-control"  (change)="chooseCity($event)">
          <option>choose City</option>
          <option *ngFor="let selectedCity of CityList" [value]='selectedCity.id'>{{selectedCity.name}}</option>
        </select>

        <br>
        <br>


      </div>

      <div id="">
        <div id="cairo" class="tabels">
          <table class="table table-dark rounded" id="datac">
            <thead>
              <tr>
                <th scope="col">select</th>
                <th scope="col">No.</th>
                <th scope="col">Hotel name</th>
                <th scope="col">city</th>
                <th scope="col">Room price</th>
                <th scope="col">Contact Info</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hotel of  hotelByCityID; let SN=index" >

                <td><input type="radio" formControlName="selHotel"  [value]="hotel.hotelName" name="selHotel" (change)="selectHotel($event)"></td>
                <td>{{SN+1}}</td>
                <td >{{hotel.hotelName}}</td>
                <td>{{hotel.city}}</td>
                <td>{{hotel.roomPrice}}</td>
                <td>{{hotel.contactInfo}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>

    <div class="train">
      <h3 class="mt-4">Select city to show Train time </h3>
      <div class="row">
        <div class="form-group col-3 ">
          <label for="feild" class=" form-label" id="">from</label>
          <select class="form-control"  (change)="chooseTrain($event)" >
            <option>choose City</option>
            <option *ngFor="let selectedCity of CityList" [value]='selectedCity.id'>{{selectedCity.name}}</option>
          </select>
        </div>

        <div class="form-group col-3 ">
          <label for="val" class=" form-label" id="">to</label>
          <select class="form-control" id="val">
          </select>
        </div>

      </div>
      <br> <br>

      <div class="">
        <div id="cairot" class="tablet">
          <table id="data" class="table table-dark rounded">
            <thead>
              <tr>
                <th scope="col">select</th>
                <th scope="col">Train Number</th>
                <th scope="col">Distenation</th>
                <th scope="col">Depature time </th>
                <th scope="col">Arrival time </th>
                <th scope="col">Ticket price</th>
                <th scope="col">Reservation details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let train of  trainByCityID; let SN=index">

                <td><input type="radio" formControlName="selTrain"  [value]="{trainNumber:train.trainNumber,destination:train.destination}" name="selTrain" (change)="selectTrain($event)"></td>

                <td  >{{train.trainNumber}}</td>
                <td >{{train.destination}}</td>
                <td>{{train.departureTime}}</td>
                <td>{{train.arrivalTime}}</td>
                <td>{{train.ticketPrice}}</td>
                <td>{{train.details}}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- <div>
            <div id="aswant" class="tablet">
                <table class="table table-dark rounded">
                    <thead>
                      <tr>
                        <th scope="col">select</th>
                        <th scope="col">Train Number</th>
                        <th scope="col">Distenation</th>
                        <th scope="col">Depature time </th>
                        <th scope="col">Arrival time </th>
                        <th scope="col">Ticket price</th>
                        <th scope="col">Reservation details</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><input type="radio" name="aswan"></th>
                        <td>2009</td>
                        <td>cairo</td>
                        <td>11:00am</td>
                        <td>11:00pmm</td>
                        <td>First Class: 300LE<br>
                            Second Class:200LE
                        </td>
                        <td>Link</td>
                      </tr>
                      <tr>
                        <th scope="row"><input type="radio" name="aswan"></th>
                        <td>2009</td>
                        <td>Sohag</td>
                        <td>11:00am</td>
                        <td>3:30pm</td>
                        <td>First Class: 300LE <br>
                            Second Class:200LE
                        </td>
                        <td>Link</td>
                      </tr>
                      <tr>
                        <th scope="row"><input type="radio" name="aswan"></th>
                        <td>2015</td>
                        <td>Alexandria</td>
                        <td>11:00pm</td>
                        <td>11:30am</td>
                        <td>First Class: 300LE<br>
                            Second Class:200LE
                        </td>
                        <td>Link</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div>
            <div id="alext" class="tablet">
                <table class="table table-dark rounded">
                    <thead>
                      <tr>
                        <th scope="col">select</th>
                        <th scope="col">Train Number</th>
                        <th scope="col">Distenation</th>
                        <th scope="col">Depature time </th>
                        <th scope="col">Arrival time </th>
                        <th scope="col">Ticket price</th>
                        <th scope="col">Reservation details</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><input type="radio" name="alex"></th>
                        <td>2015</td>
                        <td>Aswan</td>
                        <td>9:00pm</td>
                        <td>9:00am</td>
                        <td>First Class: 300LE<br>
                            Second Class:200LE
                        </td>
                        <td>Link</td>
                      </tr>
                      <tr>
                        <th scope="row"><input type="radio" name="alex"></th>
                        <td>2015</td>
                        <td>Sohag</td>
                        <td>9:00pm</td>
                        <td>4:00am</td>
                        <td>First Class: 300LE <br>
                            Second Class:200LE
                        </td>
                        <td>Link</td>
                      </tr>
                      <tr>
                        <th scope="row"><input type="radio" name="alex"></th>
                        <td>999</td>
                        <td>Alexandria</td>
                        <td>9:00pm</td>
                        <td>11:30am</td>
                        <td>First Class: 300LE<br>
                            Second Class:200LE
                        </td>
                        <td>Link</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div> -->
        <div>
          <button type="submit" [disabled]="PorgramForm.invalid"  class="btn btn-success"> Save your program </button>
        </div>

    </div>
  </form>
  

</div>
