
/* section-2 */

.section-2 {
    margin-bottom: 39px;
    margin-top: 30px;
  }
  @media (max-width: 768px) {
    .container {
      max-width: 100%;
    }
  }
  @media (max-width: 576px) {
    .container {
      max-width: 100%;
    }
  }
  .section-2 .card .img-fluid {
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
    transition: 1s;
  }
  .section-2 .card .img-fluid:hover {
    transform: scale(1.1);
    opacity: 0.8;
    filter: alpha(opacity=60);
  }
  .section-2 .card {
    padding: 0;
    height: 100%;
    overflow: hidden;
    border: none;
    border-top-left-radius: 40px;
  }
  .section-2 h2 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    font-weight: 350;
    letter-spacing: -1px;
    word-spacing: -1px;
    margin-bottom: 20px;
  }
  @media (max-width: 768px) {
    .section-2 h2 {
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 400;
      letter-spacing: -1px;
      word-spacing: -1px;
      margin-bottom: 30px;
    }
  }
  .section-2 .content {
    width: 100%;
  }
  @media (max-width: 768px) {
    .section-2 .content {
      border: none;
      border-radius: 5px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
      margin: auto;
      height: 210px;
      margin-top: -20px;
    }
  }
  
  .section-2 .col-md-6 .content-1 {
    margin-left: 40px;
    padding: 40px 0 40px;
  }
  @media (max-width: 768px) {
    .section-2 .col-md-6 .content-1 {
      padding: 40px 0 10px;
    }
  }
  .section-2 .col-md-6 .content-1 p {
    color: #757575;
    font-size: 0.75rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-transform: uppercase;
    margin: 0 0 16px -16px;
  }
  @media (max-width: 768px) {
    .section-2 .col-md-6 .content-1 p {
      color: #757575;
      font-size: 0.72rem;
      font-weight: 500;
      line-height: 1;
      margin: 0 0 5px -16px;
    }
  }
  
  .section-2 .col-md-6 .content-2 h3 {
    margin-left: 30px;
    font-size: 1.7rem;
    line-height: 1.8rem;
    font-weight: 200;
    letter-spacing: 0;
    color: #000;
    margin-bottom: 16px;
    margin-top: 0;
  }
  @media (max-width: 768px) {
    .section-2 .col-md-6 .content-2 h3 {
      margin-left: 12px;
      font-size: 1.5rem;
      line-height: 1.5rem;
      letter-spacing: -1;
      margin-bottom: 5px;
      margin-top: 0;
    }
  }
  .section-2 .col-md-6 .content-2 a {
    text-decoration: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
  }
  .section-2 .col-md-6 .content-3 p {
    margin-left: 30px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 49px;
    letter-spacing: normal;
    color: #505050;
  }
  @media (max-width: 768px) {
    .section-2 .col-md-6 .content-3 p {
      margin-left: 12px;
      font-size: 0.9rem;
      line-height: 1.25;
      margin-bottom: 0px;
    }
  }
  
  .section-2 .content-4 {
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 768px) {
    .section-2 .content-4 {
      margin-left: 10px;
      margin-top: 0px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .section-2 .content-4 .readmore-a {
    font-weight: 500;
    border: none;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    font-size: 1.18rem;
    line-height: 1.25rem;
    letter-spacing: normal;
    border-radius: 4px;
    color: #0067b9;
  }
  .section-2 .content-4 .favorite .favorite-img a {
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid transparent;
    margin-right: 14px;
    width: 56px;
    height: 56px;
    line-height: 54px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-size: 200% 200%;
    background-image: linear-gradient(to top, #fff 50%, transparent 50%);
    transition: background-position 300ms, color 300ms ease;
  }
  .section-2 .content-4 .favorite-img a:hover {
    color: white;
    background-image: linear-gradient(to top, #0067b9 50%, transparent 50%);
    background-position: 0 100%;
    transition: background-position 300ms, color 300ms ease;
  }
  
/* section-3 */

.section-3 .div-image {
  overflow: hidden;
  height: 200px;
}
@media (max-width: 768px) {
  .section-3 .div-image {
    overflow: hidden;
    height: 400px;
  }
}

.section-3 .div-image img {
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  filter: alpha(opacity=100);
  transition: 1s;
}
.section-3 .div-image img:hover {
  transform: scale(1.1);
  opacity: 0.7;
  filter: alpha(opacity=60);
}
.section-3 .div-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;
}
.section-3 .div-body .p1 {
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #757575;
  font-size: 0.75rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}
.section-3 .div-body .p2 {
  margin-bottom: 16px;
  padding-right: 32px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0;
  color: #000;
  cursor: auto;
}
.section-3 .div-body .p3 {
  display: block;
  color: #757575;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: uppercase;
}
.section-3 .section-3-favorite a {
  position: absolute;
  right: 0;
  top: 170px;
  margin-right: 30px;
  width: 56px;
  height: 56px;
  line-height: 54px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-size: 200% 200%;
  background-image: linear-gradient(to top, #fff 50%, transparent 50%);
  transition: background-position 300ms, color 300ms ease;
}
.section-3 .section-3-favorite a:hover {
  color: white;
  background-image: linear-gradient(to top, #0067b9 51%, transparent 50%);
  background-position: 0 100%;
  transition: background-position 300ms, color 300ms ease;
}
@media (max-width: 768px) {
  .section-3 .section-3-favorite a {
    position: absolute;
    right: 0;
    top: 370px;
  }
}
.section-3 .see-more-article {
  font-weight: 500;
  border: none;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.25rem;
  letter-spacing: normal;
  border-radius: 4px;
  color: #0067b9;
}
.section-3 .card {
  border: none;
}
  