<div class="container  ">
    <div class="shadow bg-light mb-4">
      <div class="container mt-4">
        <div class="mt-5">
          <span class="text-success h1"> You will arrvie at :  </span>
          <span class="h3"> Monday 20-12-2020</span><br>
          <span class="text-success h1"> You will leave at : </span>
          <span  class="h3"> Monday 7-1-2020</span>
          <hr>
      </div>
    
      <div> 
          <span class="text-success h1">Your accomdation will be in <span class="h1 text-danger"> Helton </span> hotel</span><br>
          <span class="text-success h1">Your will travel to  <span class="h1 text-danger"> Aswan </span> by train <span class="h1 text-primary">997</span >  </span>
          <hr>
        </div>
    
        <div class="mb-5">
            <span class="text-warning h1 text-center" > Hope you enjoy your visit </span>
        </div>
      </div>
    </div>
  </div>