<div class="container-fluid  bg-dark ">

  <br>
  <div class="container  mt-4">
    <div class="mt-5 card center">
      <h1><i class="fa fa-check-circle text-success mt-4"></i></h1>
      <h3 class="m-2 ">You're program is saved</h3>
      <hr class="hr col-3">
      <h3>You will travel to </h3>
      <h2>{{prog?.selTrain?.destination}}</h2>
      <h3>on {{prog?.from}}</h3>

    </div>

    <div class="mt-2 card  ">
      <div class="m-4">
        <h2>Hi UserName</h2>
        <h4>Thanks for using our service to plan your trip </h4>
        <h1 class="text-info">Your trip details</h1>
        <h2>You will reserve accoumdation at</h2>
        <h3>Hotel: {{prog?.selHotel?.hotelName}} </h3>
        <h3>Room price:{{prog?.selHotel?.roomPrice}} </h3>

        <h2>You will reserve train </h2>
        <h3>Train Nmber: {{prog?.selTrain?.trainNumber}}</h3>
        <h3>Ticket Price: {{prog?.selTrain?.ticketPrice}}</h3>
      </div>
      
    </div>
    <div class="mt-2 center ">
        <button class="btn-lg btn-info col-3 m-1" ><a href="/editProgram/{{prog?.id}}">Edit</a></button>
        <!-- <button class="btn-lg btn-info col-3 m-1" routerLink="/editProgram/{prog.id}" routerLinkActive="router-link-active"  > Edit</button> -->
        <!-- <button class="btn-lg btn-info col-3 m-1" (click)="prog?.id" > Edit</button> -->

        <button *ngIf="deleteProgram" class="btn-lg btn-danger col-3 m-1" (click)="deleteProgram(prog?.id)">Delete</button>
        <!-- <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="deleteProgram">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <p>Are you sure you want to delete program ?</p>
                <button class="btn btn-danger col-3 m-1" (click)="deleteProgram(prog.id)">YES</button>
                <button class="btn btn-primary col-3 m-1" (click)="deleteProgram=false">NO</button>
              </div>
            </div>
          </div>
        </div> -->
      </div>

  </div>
  <br>
</div>
