<div class="container col-md-10">
  <div class="page-title ">
    <div class="container ">
      <h2 class="md">Create an account</h2>
    </div>

    <div id="buton" class="d-flex justify-content-center ">
      <a routerLink='/register' routerLinkActive="router-link-active" class="active">Register</a>
      <a routerLink='/login' routerLinkActive="router-link-active">login</a>
    </div>
  </div>
</div>
<div class="container col-md-8 mt-5" style="margin-top: 30px;">

  <!-- <div class="row">
    <button id="fb" type="button" class="btn  text-white col-md-3 p-3  m-2  ">Connect via Facebook <i
        class="fa fa-facebook-f"></i></button><br>
    <button id="gp" type="button" class="btn  text-white col-md-3 p-3  m-2">Connect via Google <i
        class="fa fa-google"></i></button><br>
    <button id="t" type="button" class="btn  text-white col-md-3 p-3  m-2">Connect via Twitter <i
        class="fa fa-twitter"></i></button><br>
  </div> -->

  <!-- <div class="container">
    <div class="row">
      <hr class="col-4">
      <span>OR</span>
      <hr class="col-4">
    </div>
  </div> -->
  
  <div class="alert alert-success" *ngIf="registerd">
    You have been registerd successfuly
  </div>
  <div class="alert alert-danger" *ngIf="emailhasfound">
   this email already found...
  </div>

  <form [formGroup]="RegisterForm" (ngSubmit)="register()">
    <div class="form-row mt-5">
      <div class="form-group col-md-5 ">
        <label class="control-label required" for="firstName">First Name</label>
        <input type="text" class="form-control form-control-lg" name="firstName" required formControlName="firstName">
        <p class="text-danger" *ngIf="RegisterForm.controls['firstName'].invalid  && RegisterForm.controls['firstName'].touched">
          please enter your firstName</p>
      </div>
      <div class="form-group col-md-5 ">
        <label class="control-label required" for="lastName">Last Name</label>
        <input type="text" class="form-control form-control-lg" name="lastName" required formControlName="lastName">
        <p class="text-danger" *ngIf="RegisterForm.controls['lastName'].invalid  && RegisterForm.controls['lastName'].touched">
          please enter your lastName</p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5 ">
        <label class="control-label required" for="email">Email</label>
        <input type="email" class="form-control form-control-lg" name="email" required formControlName="email">
          <p class="text-danger" *ngIf="RegisterForm.controls['email'].invalid  && RegisterForm.controls['email'].touched">
            Please enter your email</p>
     
      </div>
      <div class="form-group col-md-5 ">
        <label class="control-label required" for="city">city</label>
        <!-- <input type="dropdown" class="form-control " name="city" required formControlName="city"> -->
        <select  class="form-control form-control-lg"  formControlName="city">
          <option *ngFor="let ciity of CityList" [value]='ciity.name'>{{ciity.name}}</option>
        </select>
        <p class="text-danger" *ngIf="RegisterForm.controls['city'].invalid  && RegisterForm.controls['city'].touched">
          Please enter your city</p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5 ">
        <label class="control-label required" for="password">Password</label>
        <input type="password" class="form-control form-control-lg" name="password" required formControlName="password">
        <p class="text-danger" *ngIf="RegisterForm.controls['password'].invalid  && RegisterForm.controls['password'].touched">
          Please enter your password</p>
      </div>
      <div class="form-group col-md-5 ">
        <label class=" control-label required" for="confirmPassword">Confirm Password</label>
        <input type="Password" class="form-control form-control-lg" name="confirmPassword" required formControlName="confirmPassword">
        <p class="text-danger" *ngIf="RegisterForm.controls['confirmPassword'].invalid  && RegisterForm.controls['confirmPassword'].touched">
          Please enter your confirmPassword</p>
          <p class="text-danger" *ngIf="RegisterForm.hasError('notMatchPassword') && RegisterForm.controls['confirmPassword'].touched">
            confirmPassword don't match password</p>
      </div>
    </div>
    <!-- <div class="custom-control custom-checkbox ">
      <input type="checkbox" class="custom-control-input checked" id="customCheck1" required>
      <p class="custom-control-label" for="customCheck1">I would like to recive offers, updates and markiting
        information from Egypt Torisum.</p>
    </div><br> -->
    <div>
      <p>All information provided will be handeld in accordance with our <a href="#">Perivcy Notes</a></p>
    </div><br>

    <div class="row mb-5 ">
      <button type="submit" [disabled]="RegisterForm.invalid" class="btn btn-primary p-3 col-md-5">Register</button>
    </div>
  </form>
</div>
