<div class="container col-md-10">
  <div class="page-title ">
    <div class="container ">
      <h2 class="md">{{"form.title" | translate}}</h2>
    </div>

    <div id="buton" class="d-flex justify-content-center">
      <a routerLink='/register' routerLinkActive="router-link-active" class="active">{{"form.rBtn" | translate}}</a>
      <a routerLink='/login' routerLinkActive="router-link-active">{{"form.lBtn" | translate}}</a>
    </div>
  </div>
</div>
<div class="container col-md-8 mt-3">

  <div class="row">
    <!-- <button id="fb" type="button" class="btn  text-white col-md-3 p-3  m-2  ">{{"form.fBtn" | translate}} <i
        class="fa fa-facebook-f"></i></button><br>
    <button id="gp" type="button" class="btn  text-white col-md-3 p-3  m-2">{{"form.gBtn" | translate}} <i
        class="fa fa-google"></i></button><br>
    <button id="t" type="button" class="btn  text-white col-md-3 p-3  m-2">{{"form.tBtn" | translate}} <i
        class="fa fa-twitter"></i></button><br> -->
  </div>

  <div class="container">
    <div class="row">
      <hr class="col-4">
      <span>{{"form.or" | translate}}</span>
      <hr class="col-4">
    </div>
  </div>

  <div class="alert alert-success" *ngIf="registerd">
    {{"form.sucssMsg" | translate}}
  </div>

  <form [formGroup]="RegisterForm" (ngSubmit)="register()">
    <div class="form-row">
      <div class="form-group col-md-5 ">
        <label class="control-label required" for="firstName">{{"form.fName" | translate}}</label>
        <input type="text" class="form-control" name="firstName" required formControlName="firstName">
       
   <p class="text-danger" *ngIf="RegisterForm.controls['firstName'].invalid  && RegisterForm.controls['firstName'].touched">
          {{"form.fNameMsg" | translate}}</p>

      </div>
      <div class="form-group col-md-5 ">
        <label class="control-label required" for="lastName">{{"form.lName" | translate}}</label>
        <input type="text" class="form-control" name="lastName" required formControlName="lastName">
   <p class="text-danger" *ngIf="RegisterForm.controls['lastName'].invalid  && RegisterForm.controls['lastName'].touched">
          {{"form.lNameMsg" | translate}}</p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5 ">
        <label class="control-label required" for="email">{{"form.email" | translate}}</label>
        <input type="email" class="form-control" name="email" required formControlName="email">
           <p class="text-danger" *ngIf="RegisterForm.controls['email'].invalid  && RegisterForm.controls['email'].touched">
          {{"form.emailMsg" | translate}}</p>
      </div>
      <div class="form-group col-md-5 ">
        <label class="control-label required" for="city">{{"form.city" | translate}}</label>
        <select  class="form-control"  formControlName="city">
          <option *ngFor="let ciity of CityList" [value]='ciity.name'>{{ciity.name}}</option>
        </select>
         <p class="text-danger" *ngIf="RegisterForm.controls['city'].invalid  && RegisterForm.controls['city'].touched">
          {{"form.cityMsg" | translate}}</p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5 ">
        <label class="control-label required" for="password">{{"form.pass" | translate}}</label>
        <input type="password" class="form-control" name="password" required formControlName="password">
          <p class="text-danger" *ngIf="RegisterForm.controls['password'].invalid  && RegisterForm.controls['password'].touched">
          {{"form.passMsg" | translate}}</p>
      </div>
      <div class="form-group col-md-5 ">
        <label class=" control-label required" for="confirmPassword">{{"form.conpass" | translate}}</label>
        <input type="Password" class="form-control" name="confirmPassword" required formControlName="confirmPassword" >
        <p class="text-danger" *ngIf="RegisterForm.controls['confirmPassword'].invalid  && RegisterForm.controls['confirmPassword'].touched">
         {{"form.conpassMsg" | translate}}</p>
      <!-- <p class="text-danger" *ngIf="RegisterForm.hasError('notSame') && RegisterForm.controls['confirmPassword'].invalid  && RegisterForm.controls['confirmPassword'].touched">
      Passwords do not match
    </p>   -->
      </div>
    </div>
    <!-- <div class="custom-control custom-checkbox ">
      <input type="checkbox" class="custom-control-input checked" id="customCheck1" required>
      <p class="custom-control-label" for="customCheck1">{{"form.check" | translate}}.</p>
    </div><br> -->
    <div>{{"form.checkTxt" | translate}} <a href="#">{{"form.checkTxt2" | translate}}</a>
    </div><br>

    <div class="row mb-5 ">
      <button type="submit" [disabled]="RegisterForm.invalid" class="btn btn-primary p-3 col-md-5">{{"form.rBtn" | translate}}</button>
    </div>
  </form>
</div>
