


<!-- Subscripiton -->
<div class="subscription">
  <div class="container">
    <div class="row">
      <div class="col-md-7 pt-3">
        <div class="subscribe">
          <h5>{{"STAY_UPDATED" | translate}}</h5>
          <p>{{"GET_UPDATES" | translate}}</p>
          <form class="subscribe-form pb-3" action="">
            <div class="row">
              <div class="col-lg-9 col-12 mb-3">
                <input class="form-control subscribe-inp" type="text" placeholder="{{'EMAIL_PLACEHOLDER' | translate}}" name="">
              </div>
              <div class="col-lg-3 col-12 d-flex justify-content-center align-items-start">
                <button disabled class="btn btn-gray subscribe-btn">{{"SUBSCRIBE" | translate}}</button>
              </div>
            </div>
          </form>
          <p>{{"INFORMATION" | translate}} <a href="#">{{"PRIVACY" | translate}}</a></p>
        </div>
      </div>
      <div class="col-md-5 pt-3">
        <div class="get-app">
          <h5>{{"DOWNLOAD_APP" | translate}}</h5>
          <div class="logo">
            <img src="assets/images/EXEG.png" alt="">
          </div>
          <a href="#">{{"GET_APP" | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row pb-4">
      <div class="col-lg-4 col-md-4">
        <a routerLink="/home" class="logo d-block">
          <img src="assets/images/EXEGw.png" style="width: 60px;" alt="">
        </a>
        <ul class="sm-icons list-unstyled m-0">
          <li>
            <a class="facebook-icon" href="#"><span><i class="fa fa-facebook-f"></i></span></a>
          </li>
          <li>
            <a class="twitter-icon" href="#"><span><i class="fa fa-twitter"></i></span></a>
          </li>
          <li>
            <a class="tripadvisor-icon" href="#"><span><i class="fa fa-tripadvisor"></i></span></a>
          </li>
          <li>
            <a class="instagram-icon" href="#"><span><i class="fa fa-instagram"></i></span></a>
          </li>
          <li>
            <a class="youtube-icon" href="#"><span><i class="fa fa-youtube"></i></span></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-4 pb-4">
        <h6>{{"POPULAR" | translate}}</h6>
        <ul class="footer-links-list list-unstyled m-0">
          <li>
            <a routerLink="/explore">{{"NAVBAR.EXPLORE" | translate}}</a>
          </li>
          <li>
            <a routerLink="/activities">{{"TODO" | translate}}</a>
          </li>
          <li>
            <a routerLink="/about">{{"NAVBAR.ABOUT.TITLE" | translate}}</a>
          </li>
          <li>
            <a routerLink="/culture">{{"NAVBAR.CULTURE.TITLE" | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 pb-4">
        <h6>{{"HELPFUL" | translate}}</h6>
        <ul class="footer-links-list list-unstyled m-0">
          <li>
            <a routerLink="/planProgram">{{"NAVBAR.PLAN" | translate}}</a>
          </li>
          <li>
            <a routerLink="/designProgram">{{"NAVBAR.DESIGN_TRIP.TITLE" | translate}}</a>
          </li>
          <li>
            <a routerLink="/programDetails">{{"NAVBAR.PROGRAM.TITLE" | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 pb-4">
        <h6>{{"RELATED" | translate}}</h6>
        <ul class="footer-links-list list-unstyled m-0">
          <li>
            <a routerLink="/login">{{"LOGIN" | translate}}</a>
          </li>
          <li>
            <a routerLink="/neighbourhoods">{{"NAVBAR.NEIGHBOURHOODS.TITLE" | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="foot">
    <div class="container">
      <p>{{"COPYRIGHT" | translate}}</p>
      <ul class="m-0 list-unstyled">
        <li>
          <a href="#">{{"TERMS" | translate}}</a>
        </li>
        <li>
          <a href="#">{{"PRIVACY" | translate}}</a>
        </li>
        <li>
          <a href="#">{{"COOKIES" | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
