
@import '/src/scss/variables';
@import '/src/scss/mixins';

// Page Header
.curved-img {
  border-bottom-right-radius: 100px;
  img {
    border-bottom-right-radius: 100px;
  }
}


.page-header {
  .history {
    padding: 15px 0;
    background-color: $white;
    border-bottom: 1px solid #e1e1e1;
    ul {
      @include flexCenter();
      justify-content: flex-start;
      li {
        margin-right: 10px;
        &.point {
          color: $main-blue;
        }
      }
    }
  }

  .safety-post {
    background-color: #f1f1f1;
    padding: 10px 20px;
    text-align: center;
    p {
      margin-bottom: 0;
      color: #757575;
      font-weight: 600;
      @media(max-width: 768px) {
        font-size: 14px;
      }
    }
  }

}

// content style
.container{
    overflow: hidden;
}
.page-titel h2{
    margin-bottom: 41px;
    font-size: 3.3rem;
    line-height: 3.5rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: #000;
    margin-top: 40px;

}
@media (max-width: 768px){
    .page-titel h2{
        font-size: 2rem;
        line-height: 2.25rem;
        font-weight: 400;
        letter-spacing: -1px;
        color: #000;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}
@media (max-width: 768px){
  .container{
      margin-right: 0px;
      margin: 0;
  }
}
@media (min-width: 576px){
    .container{
        max-width: 100%;
    }
}
@media (min-width: 1200px){

 .offset-xl-1 {
    margin-left: 12.333333%;
}
}
.mt-3{
    margin-bottom: 14px;
} 
.top-picks__desc {
  margin-top: 10px;
  margin-bottom: 78px;
}
img {
  max-width: 100%;
  -webkit-filter: none;
  filter: none;
}
