
.section-8 {
    margin-bottom: 39px;
  }
  .section-8 h2 {
    font-size: 2.8rem;
    line-height: 3rem;
    font-weight: 350;
    letter-spacing: -2px;
    word-spacing: -2px;
    margin-bottom: 15px;
  }
  @media (max-width: 768px) {
    .section-8 h2 {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 350;
    }
  }
  .section-8 .card {
    padding: 0;
    overflow: hidden;
    border: none;
  }
  .section-8 .card .img-div {
    height: 450px;
    width: 450px;
  }
  .section-8 .card .img-div img{
      width: 100%;
      height: 100%;
  }
  
  .section-8 .card-1 {
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
  }
  .section-8 .card-1 .img-fluid {
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .section-8 .content {
    position: absolute;
    top: 50px;
    right: 0;
    width: 630px;
    justify-content: flex-start;
    border-radius: 70px 0 70px 0;
    background-color: #a6192e;
    padding: 60px 80px;
    text-align: left;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  @media (max-width: 769px) {
    .section-8 .content {
      position: relative;
      width: 95%;
      top: 0;
      margin: auto;
      margin-top: -12px;
      padding: 30px 80px;
      border-radius: 3px 3px 40px 3px;
    }
  }
  
  .section-8 .content-2 h3 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 0;
    color: #fff;
    margin-bottom: 40px;
    margin-top: 0;
  }
  @media (max-width: 768px) {
    .section-8 .content-2 h3 {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-bottom: 30px;
    }
  }
  .section-8 .content-3 p {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 300;
    letter-spacing: 0;
    text-align: left;
  }
  @media (max-width: 768px) {
    .section-8 .content-3 p {
      margin-bottom: 15px;
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
  
  .section-8 .content-4 .readmore-link {
    border: 1px solid transparent;
    border-color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: normal;
    text-align: center;
    border-radius: 4px;
    padding: 18px 24px;
    display: inline-block;
  }
  @media (max-width: 768px) {
    .section-8 .content-4 .readmore-link {
      font-size: 0.9rem;
      line-height: 1.25rem;
      border-radius: 4px;
      padding: 14px 20px;
    }
  }
  .section-8 .content-4 .readmore-link a {
    color: white;
  }