<br>
<div class="page-title border-bottom-0">
  <div class="container">
      <h3>
          Shop, play and dine at Egyp's best malls
      </h3>
  </div>
</div>
<div class="container-fluid" id="content">
  <div class="container border-top">
    <br>
      <div class="h__desc m-3">
          <p class="body-medium uppercase d-inline">Mon, 28 December 2020</p>

          <br>
      </div>
      <pre class="text-left  startp d-inline">
Egypt is a shopper's dream and with a multitude of malls boasting fun
attractions, there's much to explore.</pre>
          <button class="btn float-right" id="lovebtn">
              <i class="fa fa-heart"></i>
     </button>
<br>
      <img src="assets/Mall1.jpeg" class="mx-auto d-block img-fluid">
      <div class="num text-center">1</div>
      <h2 class="mallName">Mall of Egypt.</h2>
      <img src="assets/mall2.png" class="mx-auto d-block img-fluid w-75">
      <button class="btn float-right loveMall" id="lovebtn">
          <i class="fa fa-heart"></i>
 </button>
  <br>
  <p class="malldes text-center mt-3">Luxury beckons at the Mall of the Egypt, where a wide range of couture and street-style
      fashion awaits.
      Highlights include the tech-focused Apple boutique, department stores like Harvey Nichols, Marks & Spencer,
      and Debenhams, as well as the exclusive edit of designers at the ultra-chic Fashion Dome. After a long day
      of shopping, savour a bowl of Cairo's favourite dumplings at Din Tai Fung, or sip on a warm cup of coffee at
      hip café, Common Grounds. Alternatively, enjoy sloping down the ice-clad hills at Ski Dubai, Dubai's indoor
      skiing arena, or let the kids loose at Magic Planet.</p>
  <hr>

<div class="num text-center">2</div>
      <h2 class="mallName">Cairo Festival City Mall.</h2>
      <img src="assets/mall3.jpeg" class="mx-auto d-block img-fluid w-75">
      <button class="btn float-right loveMall" id="lovebtn">
          <i class="fa fa-heart"></i>
  </button>
  <br>
  <p class="malldes text-center mt-3">Luxury beckons at the Mall of the Egypt, where a wide range of couture and street-style
      fashion awaits.
      Highlights include the tech-focused Apple boutique, department stores like Harvey Nichols, Marks & Spencer,
      and Debenhams, as well as the exclusive edit of designers at the ultra-chic Fashion Dome. After a long day
      of shopping, savour a bowl of Cairo's favourite dumplings at Din Tai Fung, or sip on a warm cup of coffee at
      hip café, Common Grounds. Alternatively, enjoy sloping down the ice-clad hills at Ski Dubai, Dubai's indoor
      skiing arena, or let the kids loose at Magic Planet.</p>
  <hr>

<div class="num text-center">3</div>
      <h2 class="mallName">The Waterway.</h2>
      <img src="assets/Mall4.jpg" class="mx-auto d-block img-fluid w-75">
      <button class="btn float-right loveMall" id="lovebtn">
          <i class="fa fa-heart"></i>
  </button>
  <br>
  <p class="malldes text-center mt-3">Luxury beckons at the Mall of the Egypt, where a wide range of couture and street-style
      fashion awaits.
      Highlights include the tech-focused Apple boutique, department stores like Harvey Nichols, Marks & Spencer,
      and Debenhams, as well as the exclusive edit of designers at the ultra-chic Fashion Dome. After a long day
      of shopping, savour a bowl of Cairo's favourite dumplings at Din Tai Fung, or sip on a warm cup of coffee at
      hip café, Common Grounds. Alternatively, enjoy sloping down the ice-clad hills at Ski Dubai, Dubai's indoor
      skiing arena, or let the kids loose at Magic Planet.</p>
  <hr>

<div class="num text-center">4</div>
      <h2 class="mallName">Mall of Arabia.</h2>
      <img src="assets/mall-of-arabia-best-malls-in-cairo-768x432.jpg" class="mx-auto d-block img-fluid w-75">
      <button class="btn float-right loveMall" id="lovebtn">
          <i class="fa fa-heart"></i>
  </button>
  <br>
  <p class="malldes text-center mt-3">Luxury beckons at the Mall of the Egypt, where a wide range of couture and street-style
      fashion awaits.
      Highlights include the tech-focused Apple boutique, department stores like Harvey Nichols, Marks & Spencer,
      and Debenhams, as well as the exclusive edit of designers at the ultra-chic Fashion Dome. After a long day
      of shopping, savour a bowl of Cairo's favourite dumplings at Din Tai Fung, or sip on a warm cup of coffee at
      hip café, Common Grounds. Alternatively, enjoy sloping down the ice-clad hills at Ski Dubai, Dubai's indoor
      skiing arena, or let the kids loose at Magic Planet.</p>
  <hr>

<div class="num text-center">5</div>
      <h2 class="mallName">City Centre Almaza.</h2>
      <img src="assets/City-Centre-Almaza-Top-Malls-in-Cairo-768x432.jpg" class="mx-auto d-block img-fluid w-75">
      <button class="btn float-right loveMall" id="lovebtn">
          <i class="fa fa-heart"></i>
  </button>
  <br>
  <p class="malldes text-center mt-3">Luxury beckons at the Mall of the Egypt, where a wide range of couture and street-style
      fashion awaits.
      Highlights include the tech-focused Apple boutique, department stores like Harvey Nichols, Marks & Spencer,
      and Debenhams, as well as the exclusive edit of designers at the ultra-chic Fashion Dome. After a long day
      of shopping, savour a bowl of Cairo's favourite dumplings at Din Tai Fung, or sip on a warm cup of coffee at
      hip café, Common Grounds. Alternatively, enjoy sloping down the ice-clad hills at Ski Dubai, Dubai's indoor
      skiing arena, or let the kids loose at Magic Planet.</p>
  <hr>

<br>
<br>
<div class="container">

<h3>Do you like it? Share it</h3>
<div class="effect jaques">
<div class="buttons">
  <a href="#" class="fb" title="Join us on Facebook"><i class="fa fa-facebook"></i></a>
  <a href="#" class="tw" title="Join us on Twitter"><i class="fa fa-twitter"></i></a>
  <a href="#" class="g-plus" title="Join us on Google+"><i class="fa fa-google-plus"></i></a>
<a href="#" class="pinterest" title="Join us on Pinterest"><i class="fa fa-pinterest-p"></i></a>
  <a href="#" class="insta" title="Join us on Instagram"><i class="fa fa-instagram"></i></a>
</div>
</div>
<br>
<h2>Recommended reads</h2>
<br>
<br>
<div class="row myrow afterart">
<div class="col-lg-3 col-6 a4">
  <a href="ArticleExample.html">
    <div class="card"><img class="card-img-top" src="assets/camel.jpg">
      <div class="card-body">
        <h4 class="card-title">How Egypt is trying to encourage the return of tourism
        </h4>
        <p class="card-text d-none d-md-block">Egypt is reopening its borders to international tourists on 1
          July,
          but many parts of the country will remain off-limits becuse of covid 19.</p>
      </div>
    </div>
  </a>
</div>
<div class="col-lg-3 col-6 a4">
  <a href="ArticleExample.html">
    <div class=" card"><img class="card-img-top" src="assets/851da31305208a67c85d5f69cd777641.jpg">
      <div class="card-body">
        <h4 class="card-title">Grand Egyptian Museum</h4>
        <p class="card-text d-none d-md-block">With a dazzling bounty of underwater attractions to explore and
          improved access to key diving hubs, there has arguably never been a better time to strap…


        </p>
      </div>
    </div>
  </a>
</div>
<div class="col-lg-3 col-6 a4">
  <a href="ArticleExample.html">
    <div class=" card"><img class="card-img-top" src="assets/turtle-diving-oman-384a4494bf9b.jpg">
      <div class="card-body">
        <h4 class="card-title">Where to find the best diving sites</h4>
        <p class="card-text d-none d-md-block">With a dazzling bounty of underwater attractions to explore and
          improved access to key diving hubs, there has arguably never been a better time to strap…


        </p>
      </div>
    </div>
  </a>
</div>
<div class="col-lg-3 col-6 a4">
  <a href="ArticleExample.html">
    <div class=" card"><img class="card-img-top"
        src="assets/step-pyramid-zoser-saqqara-egypt-892f2df6f898.jpg">
      <div class="card-body">
        <h4 class="card-title">Four of the best day trips from Cairo</h4>
        <p class="card-text d-none d-md-block">While Egypt’s ancient capital  has more than enough dusty charms
          to
          fill a traveller’s playbook, the country’s top natural sites stretch far out from Cairo…

        </p>
      </div>
    </div>
  </a>
</div>
</div>




</div>
