
@import '/src/scss/variables';
@import '/src/scss/mixins';

.article-pattern {
  padding: 50px 0;
  border-bottom: 2px solid #fefefe;
  .article-content {
    p {
      color: #757575;
    }
  }
  .slider {
    padding: 35px 0;
    @media(max-width:640px) {
      padding: 35px;
    }
    .swiper-container {
      @media(max-width:640px) {
        padding: 25px 0;
      }
      .swiper-pagination {
        bottom: 15px;
        left: 0;
        text-align: end;
        padding-right: 100px;
        @media(max-width:640px) {
          text-align: center;
          padding-right: 0;
          bottom: 10px;
        }
      }
      .swiper-slide {
        transition: opacity 0.5s;
        opacity: 0.4;
        .img-container {
          position: relative;
          height: 470px;
          border-radius: 5px;
          overflow: hidden;
          @media(max-width: 1200px) {
            height: 400px;
          }
          @media(max-width: 992px) {
            height: 320px;
          }
          @media(max-width: 768px) {
            height: 270px;
          }
          @media(max-width: 640px) {
            height: 375px;
          }
          @media(max-width: 450px) {
            height: 250px;
          }
          img {
            height: 100%;
            max-height: 100%;
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .caption {
          font-size: 14px;
          padding: 15px 0 10px 0;
          color: $text-muted;
          opacity: 0;
          transition: opacity 0.3s;
        }
        &.swiper-slide-active {
          opacity: 1;
          .caption {
            opacity: 1;
          }
        }
      }
    }
  }
}