<div class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-md-8 col-sm-12 offset-xl-1">
            <div class="page-titel">
             <h2>Edit Your Profile</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8 offset-xl-1">
            <div class="content">
             <form [formGroup]="profileFrm" (ngSubmit)="update()">
               <div class="form-row">
               <div class="form-group group-1 col-md-6">
                   <label for="FName">First Name</label>
                   <input type="text" formControlName="FName" class="form-control form-control-lg" [class.is-invalid]="profileFrm.controls['FName'].invalid && profileFrm.controls['FName'].touched" [class.is-valid]="profileFrm.controls['FName'].valid" name="FName"  id="FName" placeholder="First Name">
                   <div  class="alert alert-danger" role="alert"  *ngIf="profileFrm.controls['FName'].invalid  && profileFrm.controls['FName'].touched" >
                    Name must be more than 3 char
                  </div>
                </div>
                 <div class="form-group col-md-6">
                    <label for="LName">First Name</label>
                   <input type="text" formControlName="LName" class="form-control form-control-lg" [class.is-invalid]="profileFrm.controls['LName'].invalid && profileFrm.controls['LName'].touched" [class.is-valid]="profileFrm.controls['LName'].valid" name="LName" id="LName" placeholder="Last Name">
                   <div  class="alert alert-danger" role="alert"  *ngIf="profileFrm.controls['LName'].invalid  && profileFrm.controls['LName'].touched" >
                    Name must be more than 3 char
                  </div>
                </div>
               </div> 
              <div class="form-group ">
                   <label for="password">Password</label>
                   <input type="password" formControlName="password" class="form-control form-control-lg" [class.is-invalid]="profileFrm.controls['password'].invalid && profileFrm.controls['password'].touched" [class.is-valid]="profileFrm.controls['password'].valid" id="password" placeholder="Password">
                   <div  class="alert alert-danger" role="alert"  *ngIf="profileFrm.controls['password'].invalid  && profileFrm.controls['password'].touched" >
                    password must be more than 4 char&&num
                  </div>
                </div> 
                  <div class="form-row">
                   <div class="form-group col-md-6">
                     <label for="email">Email </label>
                     <input type="email" formControlName="email" class="form-control form-control-lg" [class.is-invalid]="profileFrm.controls['email'].invalid && profileFrm.controls['email'].touched" [class.is-valid]="profileFrm.controls['email'].valid" id="email" placeholder="Email">
                     <div  class="alert alert-danger" role="alert"  *ngIf="profileFrm.controls['email'].invalid  && profileFrm.controls['email'].touched" >
                        email must be match email@email.com
                      </div>
                    </div>
                   <div class="form-group col-md-6">
                    <label for="country">Country</label>
                    <input type="text" formControlName="country" class="form-control form-control-lg" [class.is-invalid]="profileFrm.controls['country'].invalid && profileFrm.controls['country'].touched" [class.is-valid]="profileFrm.controls['country'].valid" id="country" placeholder="Country">
                    <div  class="alert alert-danger" role="alert"  *ngIf="profileFrm.controls['country'].invalid  && profileFrm.controls['country'].touched" >
                        country must be required
                      </div>
                </div>
                 </div>
                 <!-- <div class="form-group">
                   <div class="g-recaptcha" data-sitekey="6Ldbdg0TAAAAAI7KAf72Q6uagbWzWecTeBWmrCpJ" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Ldbdg0TAAAAAI7KAf72Q6uagbWzWecTeBWmrCpJ&amp;co=ZmlsZTo.&amp;hl=en&amp;v=-nejAZ5my6jV0Fbx9re8ChMK&amp;size=normal&amp;cb=7yco3oybjfd7" width="304" height="78" role="presentation" name="a-gxes7uxypyl9" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
                   <input class="form-control d-none" data-recaptcha="true" required="" data-error="Please complete the Captcha">
                   <div class="help-block with-errors"></div>
               </div> -->
               <div class="form-row">
                 <div class="btn-div">
                   <button type="submit" [disabled]="profileFrm.invalid" class="btn btn-primary col-md-6 col-sm-12">Update</button>
                 </div>
               </div>
               <p class="mt-3">All information provided will be handled in accordance with our <a aria-label="" class="lr__link-color" title="" data-cy="" href="#">Privacy Notice.</a></p>
             </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



