/* section-5 */
.section-5 h2 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 350;
    letter-spacing: -1px;
    word-spacing: -1px;
    margin-bottom: 15px;
    padding-top: 20px;
  }
  @media (max-width: 768px) {
    .section-5 h2 {
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 30px;
    }
  }
  .section-5 button {
    border-radius: 3px;
    color: #333;
    margin: 5px;
    font-weight: 200;
    border: 1px solid #f5f5f5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #333 50%, #f5f5f5 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
  }
  .section-5 button:hover {
    color: white;
    background-position: left bottom;
  }
  
  .section-5 .div-image {
    overflow: hidden;
    height: 200px;
  }
  @media (max-width: 768px) {
    .section-5 .div-image {
      height: 400px;
    }
  }
  
  .section-5 .div-image img {
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    filter: alpha(opacity=100);
    transition: 1s;
  }
  .section-5 .div-image img:hover {
    transform: scale(1.1);
    opacity: 0.7;
    filter: alpha(opacity=60);
  }
  .section-5 .div-body {
    display: flex;
    flex-direction: column;
    margin: 25px;
    border-radius: 4px;
  }
  .section-5 .div-body .p1 {
    margin-bottom: 14px;
    text-transform: uppercase;
    color: #757575;
    font-size: 0.5rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
  }
  .section-5 .div-body .p2 {
    margin-bottom: 16px;
    padding-right: 32px;
    margin-top: 5px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0;
    color: #000;
    cursor: auto;
  }
  .section-5 .div-body .p3 {
    display: block;
    color: #757575;
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    text-transform: uppercase;
  }
  .section-5 .section-5-favorite a {
    position: absolute;
    right: 0;
    top: 170px;
    margin-right: 30px;
    width: 56px;
    height: 56px;
    line-height: 54px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-size: 200% 200%;
    background-image: linear-gradient(to top, #fff 50%, transparent 50%);
    transition: background-position 300ms, color 300ms ease;
  }
  .section-5 .section-5-favorite a:hover {
    color: white;
    background-image: linear-gradient(to top, #0067b9 51%, transparent 50%);
    background-position: 0 100%;
    transition: background-position 300ms, color 300ms ease;
  }
  @media (max-width: 768px) {
    .section-5 .section-5-favorite a {
      top: 370px;
    }
  }
  .section-5 .see-more-article {
    font-weight: 500;
    border: none;
    padding-left: 0;
    padding-right: 0;
    text-align: start;
    font-size: 1.1rem;
    line-height: 1.25rem;
    letter-spacing: normal;
    border-radius: 4px;
    color: #0067b9;
  }
  .section-5 .tripAdvisor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 12px;
  }
  .section-5 .tripAdvisor img {
    width: 108px;
  }