<div class="div-image">
  <img class="card-img-top" src="assets/{{List?.img}}" alt="Card image" style="width:100%">
</div>
<div class="div-body">
  <div class="section-5-favorite">
    <div class="favorite-img" *ngIf="addedtoWishList && hasAccount()">
      <a style="color:'#0067b9'" (click)="deletewishlist(List)"><i class="fa fa-heart"></i></a>
    </div>
    <div class="favorite-img" *ngIf="!addedtoWishList || !hasAccount()">
      <a style="color:'black'" (click)="addwishlist(List)"><i class="fa fa-heart"></i></a>
    </div>
  </div>
  <p class="p2">{{List?.title}}</p>
  <p class="p3">{{List?.description}}</p>
  <div class="tripAdvisor">
    <img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/3.5-20760-5.svg" alt="">
  </div>
</div>