
@import '/src/scss/variables';
@import '/src/scss/mixins';

// Page Header
.curved-img {
  border-bottom-right-radius: 100px;
  img {
    border-bottom-right-radius: 100px;
  }
}


.page-header {
  .history {
    padding: 15px 0;
    background-color: $white;
    border-bottom: 1px solid #e1e1e1;
    ul {
      @include flexCenter();
      justify-content: flex-start;
      li {
        margin-right: 10px;
        &.point {
          color: $main-blue;
        }
      }
    }
  }

  .safety-post {
    background-color: #f1f1f1;
    padding: 10px 20px;
    text-align: center;
    p {
      margin-bottom: 0;
      color: #757575;
      font-weight: 600;
      @media(max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  .page-title {
    padding: 25px 0;
    border-bottom: 1px solid #e1e1e1;
    h2 {
      padding: 0 35px;
      font-size: 56px;
      color: #000;
      @media(max-width: 992px) {
        font-size: 36px;
      }
    }
  }
}

// content style

.userName {
    font-size: 2.7rem;
    line-height: 56px;
    font-weight: 300;
    margin-bottom: 17px;
    margin-top: 20px;
    color: #696565
}
 .span{
    font-weight: 400;
    color: black;
}
@media (max-width: 768px){
    .userName {
        font-size: 2rem;
        font-weight: 350;
        line-height: 50px;
        margin-bottom: 13px;

    }
}
.welcome{
    font-size: 20px;
    line-height: 27px;
    color: #505050;
    padding-left: 10px;
}
@media (max-width: 768px){
    .welcome{
        font-size: 17px;
        line-height: 24px;
    }
}

.wrimagecard{	
  height: 170px;
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 6px 6px 8px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
	position: relative;
    font-size: 20px;
    margin: 14px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    padding: 10px;
}
.pull-right{
  font-size: 20px;
  margin: 10px;
}
.card-header {
  padding: 0px;
   
}

a.wrimagecard:hover, .card-header:hover {
    box-shadow: 2px 2px 5px 0px rgba(46,61,73,0.2);
}
.card-header a {
    width: 100%;
    height: 100%;
    display: block;
}
.card-header_content{
  padding: 2px 24px;
  position: relative;
  padding-bottom: 1.25rem;
}
.card-header_title {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 0.25rem;
    color: #868686;
}
.date {
  font-size: 23px;
   font-weight: 900px;
   color: black;
}
.card-header a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

/* Tabs*/
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#tabs{
  color: #eee;
}
#tabs h6.section-title{
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #eee;
  font-size: 20px;
}

