
@import '/src/scss/variables';
@import '/src/scss/mixins';

// Page Header
.curved-img {
  border-bottom-right-radius: 100px;
  img {
    border-bottom-right-radius: 100px;
  }
}


.page-header {
  .history {
    padding: 15px 0;
    background-color: $white;
    border-bottom: 1px solid #e1e1e1;
    ul {
      @include flexCenter();
      justify-content: flex-start;
      li {
        margin-right: 10px;
        &.point {
          color: $main-blue;
        }
      }
    }
  }

  .safety-post {
    background-color: #f1f1f1;
    padding: 10px 20px;
    text-align: center;
    p {
      margin-bottom: 0;
      color: #757575;
      font-weight: 600;
      @media(max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  .page-title {
    padding: 25px 0;
    border-bottom: 1px solid #e1e1e1;
    h2 {
      padding: 0 35px;
      font-size: 56px;
      color: #000;
      @media(max-width: 992px) {
        font-size: 36px;
      }
    }
  }
}

// content style

.userName {
    font-size: 2.7rem;
    line-height: 56px;
    font-weight: 300;
    margin-bottom: 17px;
    margin-top: 20px;
    color: #696565
}
 .span{
    font-weight: 400;
    color: black;
}
@media (max-width: 768px){
    .userName {
        font-size: 2rem;
        font-weight: 350;
        line-height: 50px;
        margin-bottom: 13px;

    }
}
.welcome{
    font-size: 20px;
    line-height: 27px;
    color: #505050;
    padding-left: 10px;
}
@media (max-width: 768px){
    .welcome{
        font-size: 17px;
        line-height: 24px;
    }
}

.wrimagecard{	
  height: 170px;
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 6px 6px 8px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
	position: relative;
    font-size: 20px;
    margin: 14px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    padding: 10px;
}
.pull-right{
  font-size: 20px;
  margin: 10px;
}
.card-header {
  padding: 0px;
   
}

a.wrimagecard:hover, .card-header:hover {
    box-shadow: 2px 2px 5px 0px rgba(46,61,73,0.2);
}
.card-header a {
    width: 100%;
    height: 100%;
    display: block;
}
.card-header_content{
  padding: 2px 24px;
  position: relative;
  padding-bottom: 1.25rem;
}
.card-header_title {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 0.25rem;
    color: #868686;
}
.date {
  font-size: 23px;
   font-weight: 900px;
   color: black;
}
.card-header a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

/* Tabs*/
section {
  padding: 40px 0;
}

section .section-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.2rem;
  // text-transform: uppercase;
}
#tabs{
  color: #eee;
}
#tabs h6.section-title{
  color: #000;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  color: #000;
  font-size: 20px;
}
.top-picks__desc {
  margin-top: 10px;
  margin-bottom: 78px;
  font-size: 23px;
  color: #525c65;
}


.trip .card{
  width:100%;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  transition: .5s;
}
.trip .card .circle{
  position: relative;
  width:100%;
  height: 150px;
  background: rgb(14, 132, 243);
  text-align: center;
  border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.trip .card .circle h2{
  color: #eee;
  font-size: 4em;
  padding: 10px 0 0 0;
}

.trip .card .circle h6{
  color: #eee;
  font-size: 1.2em;
  padding: 0px 0 10px 0;
}
.trip .card  .content{
  bottom: 10px;
  page-break-after: 20px;
  padding: 20px 15px 15px 15px;
 
}

.trip .card  .content .des p{
  opacity: 0;
  display: block;
  max-height: 0;
   text-align: center;
   color: #000;
  
}
.trip .card  .content.title{
  font-size: 20px;
  font-weight: 200;
  color: #505050;
 
}
.trip .card  .content a{
 
  display: inline-block;
  padding: 10px 20px;
background: rgb(10, 132, 246);
color: #fff;
border-radius: 40px;
text-decoration: none;
margin-top: 20px ;
margin-left: 20%;
}



