<div class="container">
  <h3 class="mt-4">Select your trip date </h3>

  <form [formGroup]="PorgramForm" (ngSubmit)="edit()">
    <div class="row">
      <label class="control-label col-3">Program Name: </label>
      <input type="text" class="form-control col-3" formControlName="programName" placeholder="Program Name">
    </div>
    <br>
    <div>
      <div class="form-group row">
        <label class="control-label col-3" for="from">From:</label>
        <input type="date" class="form-control col-3" formControlName="from" placeholder="MM/DD/YYY" />
      </div>

      <div class="form-group row">
        <label class="control-label col-3" for="to">To:</label>
        <input type="date" class="form-control col-3" formControlName="to" placeholder="MM/DD/YYY" />
      </div>
    </div>


    <div class="hotel">
      <h3 class="mt-4">Select city to show recmoneded hotels </h3>
      <div class="form-group row ">
        <label class=" form-label col-3">city</label>
        <select class="form-control col-3" (change)="chooseCity($event)">
          <option>choose City</option>
          <option *ngFor="let selectedCity of CityList" [value]='selectedCity.id'>{{selectedCity.name}}</option>
        </select>
        <br><br>
      </div>

      <div class="card bg-dark text-light my-3" *ngFor="let hotel of  hotelByCityID; let SN=index">
        <div class="card-body">
          <h5 class="card-title row">
            <input type="radio" formControlName="selHotel"
              [value]="{hotelName:hotel.hotelName,roomPrice:hotel.roomPrice}" name="selHotel"
              (change)="selectHotel($event)">
            <p class="mx-2">Hotel name: {{hotel.hotelName}}</p>
          </h5>
          <div class="card-text row ">
            <p class="mx-4">City: {{hotel.city}}</p>
            <p class="mx-4">Room Price: {{hotel.roomPrice}}</p>
            <p class="mx-4">Contact Info: {{hotel.contactInfo}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="train">
      <h3 class="mt-4">Select city to show Train time </h3>
      <div class="row">
        <div class="form-group col-6">
          <div class="row">
            <label class="form-label col-3">from</label>
            <select class="form-control col-9" (change)="chooseTrain($event)">
              <option>choose City</option>
              <option *ngFor="let selectedCity of CityList" [value]='selectedCity.id'>{{selectedCity.name}}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="form-group col-6 ">
          <div class="row">
            <label class="form-label col-3">to</label>
            <select class="form-control col-9" (change)="chooseTrain($event)">
              <option>choose City</option>
              <option *ngFor="let selectedDestenation of CityList" [value]='selectedDestenation.id'>
                {{selectedDestenation.name}}</option>
            </select>
          </div>
        </div>

        
      </div>
      <div class="card bg-dark text-light my-3"
          *ngFor="let train of  trainByCityID; let destination of  trainToDest; let SN=index">
          <div class="card-body">
            <h5 class="card-title row">
              <input type="radio" formControlName="selTrain"
                [value]="{trainNumber:train.trainNumber,destination:train.destination,ticketPrice:train.ticketPrice}"
                name="selTrain" (change)="selectTrain($event)">
              <p class="mx-2">Train Number: {{train.trainNumber}}</p>
            </h5>
            <div class="card-text row ">
              <p class="mx-4">departureTime: {{train.departureTime}}</p>
              <p class="mx-4">arrivalTime: {{train.arrivalTime}}</p>
              <p class="mx-4">ticketPrice: {{train.ticketPrice}}</p>
            </div>
          </div>
        </div>
      <br> <br>

      <div class="card bg-dark text-light my-3" *ngFor="let hotel of  hotelByCityID; let SN=index">
        <div class="card-body">
          <h5 class="card-title row">
            <input type="radio" formControlName="selHotel"
              [value]="{hotelName:hotel.hotelName,roomPrice:hotel.roomPrice}" name="selHotel"
              (change)="selectHotel($event)">
            <p class="mx-2">Hotel name: {{hotel.hotelName}}</p>
          </h5>
          <div class="card-text row ">
            <p class="mx-4">City: {{hotel.city}}</p>
            <p class="mx-4">Room Price: {{hotel.roomPrice}}</p>
            <p class="mx-4">Contact Info: {{hotel.contactInfo}}</p>
          </div>
        </div>
      </div>
    </div>


    <div>
      <button type="submit" [disabled]="PorgramForm.invalid" class="btn btn-success"> Edit your program </button>
    </div>


  </form>


</div>
