<div class="container">
  <h3 class="mt-4">Select your trip date </h3>

  <form [formGroup]="PorgramForm" (ngSubmit)="edit()">
    <div class="row">
      <div class="form-group col-3">
        <label class="control-label" for="date">From</label>
        <input type="date" class="form-control" formControlName="from" id="date" name="from" placeholder="MM/DD/YYY"
          type="text" />
      </div>
      <div class="form-group col-3">
        <label class="control-label" for="date">to</label>
        <input type="date" class="form-control" formControlName="to" id="date" name="to" placeholder="MM/DD/YYY"
          type="text" />
      </div>

    </div>


    <div class="hotel">
      <h3 class="mt-4">Select city to show recmoneded hotels </h3>
      <div class="form-group col-3 ">
        <label for="cCity" class=" form-label" id="">city</label>
        <select class="form-control" (change)="chooseCity($event)">
          <option>choose City</option>
          <option *ngFor="let selectedCity of CityList" [value]='selectedCity.id'>{{selectedCity.name}}</option>
        </select>

        <br>
        <br>


      </div>

      <div class="card bg-dark text-light my-3" *ngFor="let hotel of  hotelByCityID; let SN=index">
        <div class="card-body">
          <h5 class="card-title row">
            <input type="radio" formControlName="selHotel"
              [value]="{hotelName:hotel.hotelName,roomPrice:hotel.roomPrice}" name="selHotel"
              (change)="selectHotel($event)">
            <p class="mx-2">Hotel name: {{hotel.hotelName}}</p>
          </h5>
          <div class="card-text row ">
            <p class="mx-4">City: {{hotel.city}}</p>
            <p class="mx-4">Room Price: {{hotel.roomPrice}}</p>
            <p class="mx-4">Contact Info: {{hotel.contactInfo}}</p>
          </div>
        </div>


      </div>

      <div class="train">
        <h3 class="mt-4">Select city to show Train time </h3>
        <div class="row">
          <div class="form-group col-3 ">
            <label for="feild" class=" form-label" id="">from</label>
            <select class="form-control" (change)="chooseTrain($event)">
              <option>choose City</option>
              <option *ngFor="let selectedCity of CityList" [value]='selectedCity.id'>{{selectedCity.name}}</option>
            </select>
          </div>

          <div class="form-group col-3 ">
            <label for="val" class=" form-label" id="">to</label>
            <select class="form-control" id="val" (change)="chooseTrain($event)">
              <option>choose City</option>
              <option *ngFor="let selectedDestenation of CityList" [value]='selectedDestenation.id'>
                {{selectedDestenation.name}}</option>
            </select>
          </div>

        </div>
        <br> <br>


      </div>
    </div>


    <div>
      <button type="submit" [disabled]="PorgramForm.invalid" class="btn btn-success"> Edit your program </button>
    </div>


</form>


</div>
