

<app-page-banner [pageDetails]="pageDetails"></app-page-banner>

<!-- Featured Neighbourhoods -->
<section class="links-pattern half-grey-right">
  <div class="container">
    <h4 class="title">{{"FEATURED_N_HOODS" | translate}}</h4>
    <div class="row">
      <div class="col-lg-4 col-md-6 pt-4" *ngFor="let n of neighbourhoods">
        <div class="item shadow">
          <a href="#" class="img-container">
            <img class="img-fluid" [src]="'assets/images/' + n.img_url" alt="">
          </a>
          <div class="caption">
            <a href="#" class="title-link">{{n.title}}</a>
            <p class="item-desc">{{n.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <a class="more-btn" routerLink="/explore">{{"DISCOVER_MORE" | translate}} <span><i class="fa fa-angle-right"></i></span></a>
  </div>
</section>

<!-- Explore -->
<section class="links-pattern half-grey-left">
  <div class="container">
    <h4 class="title">{{"KEEP_EXPLORING" | translate}}</h4>
    <p class="desc">{{"KEEP_EXPLORING_P" | translate}}</p>
    <div class="row">
      <div class="col-lg-4 col-md-6 pt-4">
        <div class="item shadow">
          <a routerLink="/about" class="img-container">
            <img class="img-fluid" src="assets/images/2.jpg" alt="">
          </a>
          <div class="caption">
            <a routerLink="/about" class="title-link">{{"NAVBAR.ABOUT.TITLE" | translate}}</a>
            <p class="item-desc">{{"NAVBAR.ABOUT.DESC" | translate}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-4">
        <div class="item shadow">
          <a routerLink="/explore" class="img-container">
            <img class="img-fluid" src="assets/images/8.jpg" alt="">
          </a>
          <div class="caption">
            <a routerLink="/explore" class="title-link">{{"NAVBAR.EXPLORE" | translate}}</a>
            <p class="item-desc">{{"NAVBAR.EXPLORE_DESC" | translate}}</p>
          </div>
        </div>
      </div>
    </div>
    <a class="more-btn" routerLink="/explore">{{"DISCOVER_MORE" | translate}} <span><i class="fa fa-angle-right"></i></span></a>
  </div>
</section>

