<div class="page-title">
  <div class="container">
    <h2>Top activities in Egypt
    </h2>
  </div>
</div>
<!--start of content -->
<div class="container-fluid" id="content">
  <div class="container-fluid p-0" id="startImgDiv">
    <img src="assets/im1.jpg" id="startIm" class="mx-auto d-block w-100 " />
    <div class=" container-fluid" id="toHide">
      <video class="mx-auto d-block w-100" id="startVid">
        <source src="assets/v2.mp4" type="video/mp4">
      </video>
    </div>
    <button class="btn" id="playbtn" onclick="openVid(this)">
    </button>
  </div>
  <div class="container afterimgtxt">
    <p id="after1im">Adventure, culture, shopping – name it and you'll find it here in Egypt. Browse all the
      unforgettable
      experiences for all kinds of explorers.</p>
  </div>
  <div class="container-fluid" id="rows">
    <br>
    <h3 id="h">Start exploring
    </h3>
    <br>
    <div class="row myrow">
      <div class="col-lg-3  col-6">
        <a href="new.html">
          <div class="card"><img class="card-img-top" src="assets/zozo.jpg">
            <div class="card-body">
              <h4 class="card-title">New & Trending</h4>
              <p class="card-text d-none d-md-block">Check out the latest hotspots and attractions to add to your next
                holiday.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3  col-6">
    <a href=" new.html">
        <div class=" card"><img class="card-img-top" src="assets/egypt-pyramids-1-1.jpg">
          <div class="card-body">
            <h4 class="card-title">Sights & Attractions</h4>
            <p class="card-text d-none d-md-block">Discover Egypt's record-breaking attractions and iconic landmarks.
            </p>
          </div>
        </div></a>
      </div>
      <div class="col-lg-3 col-6">
  <a href=" new.html">
        <div class=" card"><img class="card-img-top" src="assets/Webp.net-resizeimage.jpg">
          <div class="card-body">
            <h4 class="card-title">Experiences</h4>
            <p class="card-text d-none d-md-block">From pyramids to the sea, take in Egypt's unique experiences.</p>
          </div>
        </div></a>
      </div>
      <div class="col-lg-3  col-6">
<a href=" new.html">
        <div class=" card"><img class="card-img-top" src="assets/851da31305208a67c85d5f69cd777641.jpg">
          <div class="card-body">
            <h4 class="card-title">Arts & Culture</h4>
            <p class="card-text d-none d-md-block">Discover Egypt's record-breaking attractions and iconic landmarks.

            </p>
          </div>
        </div></a>
      </div>
    <div class="row myrow">
      <div class="col-lg-3  col-6">
        <a href="new.html">
          <div class="card"><img class="card-img-top" src="assets/cairo--interior-mall-second-le.jpg">
            <div class="card-body">
              <h4 class="card-title">Shopping</h4>
              <p class="card-text d-none d-md-block">Indulge in ultimate retail therapy at high-end shopping malls and
                charming souks.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3  col-6">
  <a href=" new.html">
        <div class=" card"><img class="card-img-top" src="assets/food1.jpg">
          <div class="card-body">
            <h4 class="card-title">Food & Drink
            </h4>
            <p class="card-text d-none d-md-block">Sample deliciously diverse food at fine dining spots and
              Instagram-worthy
              cafés.</p>
          </div>
        </div></a>
      </div>
      <div class="col-lg-3 col-6">
<a href=" new.html">
        <div class=" card"><img class="card-img-top" src="assets/spa2 (1).jpg">
          <div class="card-body">
            <h4 class="card-title">Spas & Wellness
            </h4>
            <p class="card-text d-none d-md-block">Unwind and relax in style at Egypt's breathtaking luxury spas and
              hammams.

            </p>
          </div>
        </div></a>
      </div>
      <div class="col-lg-3 col-6">
        <a href="new.html">
          <div class=" card"><img class="card-img-top" src="assets/Egypt-Travel-13.jpg">
            <div class="card-body">
              <h4 class="card-title">Itineraries</h4>
              <p class="card-text d-none d-md-block">What do you travel for?<br> Find inspiration with this variety of
                holiday
                itineraries.

              </p>
            </div>
          </div>
        </a>
      </div>

    </div>
    <br>

    <h2 class="inback">Explore top attractions</h2>
    <br>
    <div class="row myrow afterart">
      <div class="col-lg-4 col-6 a2">
        <a href="ArticleExample.html">
          <div class="card"><img class="card-img-top" src="assets/camel.jpg">
            <div class="card-body">
              <h4 class="card-title">How Egypt is trying to encourage the return of tourism
              </h4>
              <p class="card-text d-none d-md-block">Egypt is reopening its borders to international tourists on 1
                July,
                but many parts of the country will remain off-limits.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-6 a2">
        <a href="ArticleExample.html">
          <div class=" card"><img class="card-img-top" src="assets/turtle-diving-oman-384a4494bf9b.jpg">
            <div class="card-body">
              <h4 class="card-title">Where to find the best scuba diving sites</h4>
              <p class="card-text d-none d-md-block">With a dazzling bounty of underwater attractions to explore
                and
                improved access to key diving hubs, there has arguably never been a better time to strap…


              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-6 a2">
        <a href="ArticleExample.html">
          <div class=" card"><img class="card-img-top" src="assets/step-pyramid-zoser-saqqara-egypt-892f2df6f898.jpg">
            <div class="card-body">
              <h4 class="card-title">Four of the best day trips from Cairo</h4>
              <p class="card-text d-none d-md-block">While Egypt’s ancient capital has more than enough dusty
                charms
                to
                fill a traveller’s playbook, the country’s top natural sites stretch far out from Cairo…

              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <h2>Meet our curators
    </h2>
    <br>
    <div class="row  afterart">
      <div class="col-lg-3  col-6 a3">
        <a href="#">
          <div class="card"><img class="card-img-top" src="assets/undraw_reading_0re1.png">
            <div class="card-body">
              <h4 class="card-title">Louise Nichol
              </h4>
              <p class="card-text d-none d-md-block">Writer, presenter and fashion consultant Louise Nichol is in
                the
                know
                when it comes to gems in Egypt.</p>
              <br>
              <hr>
              <div class="d-flex justify-content-end social_icon">
                <span><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-google-plus-square"></i></span>
                <span><i class="fab fa-twitter-square"></i></span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3  col-6 a3">
        <a href="#">
          <div class=" card"><img class="card-img-top" src="assets/undraw_noted_pc9f.png">
            <div class="card-body">
              <h4 class="card-title"> Zahirah Marty
              </h4>
              <p class="card-text d-none d-md-block">Entrepreneur, mother and branding expert Zahirah Marty loves
                Egypt for its bustling urban vibe and calm.</p>
              <br>
              <hr>
              <div class="d-flex justify-content-end social_icon">
                <span><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-google-plus-square"></i></span>
                <span><i class="fab fa-twitter-square"></i></span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-6 a3">
        <a href="#">
          <div class=" card"><img class="card-img-top" src="assets/undraw_travel_mode_7sf4.png">
            <div class="card-body">
              <h4 class="card-title">Butheina Kazim</h4>
              <p class="card-text d-none d-md-block">Film enthusiast and producer Butheina Kazim has an eye for
                Egypt's thriving arts and cultural scene.</p>
              <br>

              <hr>
              <div class="d-flex justify-content-end social_icon">
                <span><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-google-plus-square"></i></span>
                <span><i class="fab fa-twitter-square"></i></span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-6 a3">
        <a href="#">
          <div class=" card"><img class="card-img-top" src="assets/undraw_dev_productivity_umsq.png">
            <div class="card-body">
              <h4 class="card-title">Kazim O’Brien</h4>
              <p class="card-text d-none d-md-block">Blogger and father of three, Irish-born Kazim O'Brien enjoys
                discovering Egypt with her little ones.</p>
              <br>
              <hr>
              <div class="d-flex justify-content-end social_icon">
                <span><i class="fa fa-facebook-square"></i></span>
                <span><i class="fa fa-google-plus-square"></i></span>
                <span><i class="fa fa-twitter-square"></i></span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
