

$main-blue: #0067b9;
$secondary-blue: #0b4d83;
$purple: #c22c91;
$bg-light: #f5f5f5;
$disabled: #bdbdbd;
$white: #fff;
$black: #212529;
$twitter-color: #1d9dec;
$fb-color: #4064ad;
$text-muted: #505050;