  <!-- section-1 -->
  <div class="section-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="header-video" id="video">
            <video class="video-fluid" id="ban_video" loop poster="..\assets\pyramids-2159286.webp">
              <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
            </video>
            <div class="play-pause">
              <button href="#">
                <i class="fas fa-play play-bt">
                </i>
                <i class="fas fa-pause pause-bt" style="display:none;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-page-banner></app-page-banner>
<app-explor-egypt-home></app-explor-egypt-home>
<app-plan-trip-home></app-plan-trip-home>
<app-activities-home></app-activities-home>