  <!-- section-1 -->
  <!-- <div class="section-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="header-video" id="video">
            <video class="video-fluid" id="ban_video" loop poster="..\assets\pyramids-2159286.webp">
              <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
            </video>
            <div class="play-pause">
              <button href="#">
                <i class="fas fa-play play-bt">
                </i>
                <i class="fas fa-pause pause-bt" style="display:none;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- Banner -->
<section class="banner">
  <div class="video-controls">
    <span (click)="playVideo()" #play_btn class="play"><i class="fa fa-play"></i></span>
    <span (click)="pauseVideo()" #pause_btn class="pause hide"><i class="fa fa-pause"></i></span>
  </div>
  <div #banner_image_container class="img-container curved-img">
    <!--  -->
    <img [src]="pageDetails.bannerImg" alt="">
    <div #banner_video_container class="video-container d-none">
      <video #banner_video class ="banner_video" [muted]="'muted'" loop>
        <!--  -->
        <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4">
        <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/ogg">
      </video>
    </div>
  </div>
</section>
<app-week-events-home [WeekEvents]="WeekEvent" [addedtoWishList]="iaFav(WeekEvent?.id || -1)"></app-week-events-home>
<app-explor-egypt-home></app-explor-egypt-home>
<app-plan-trip-home></app-plan-trip-home>
   <!-- section-5 -->
   <section class="section-5" style="margin-top: 50px;">
    <div class="container">
      <div class="row">
        <div class="col-md-1 d-none d-xl-block"></div>
        <div class=" col-sm-11 ">
          <h2>Find things to do</h2>
          <button type="button" class="btn">All</button>
          <button type="button" class="btn">Adventure</button>
          <button type="button" class="btn">Arts & Culture</button>
          <button type="button" class="btn">Food & Drink</button>
          <button type="button" class="btn">Spas & Wellness</button>
          <button type="button" class="btn">Sights & Attractions</button>
        </div>
      </div>

      <div class="row" style="margin-top: 35px;">
        <div class="col-12 col-xl-9 offset-xl-1">
          <div class="row">
            <div class=" col-sm-6 col-md-4" *ngFor="let item of (ActivityList | slice:-3) ;let count=index">
              <app-activities-home [List]="item" [addedtoWishList]="iaFav(item.id)"></app-activities-home>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="see-more-article">
              <a aria-label="" class="readmore-a" [routerLink]="['/activities']">
                <span class="btn-link__text">See more things to do</span>
                <svg width="20" height="20" viewBox="0 0 20 20" class="btn-link__icon">
                  <path fill="#0067B9" fill-rule="nonzero"
                    d="M8.394 5.5L13 10l-4.606 4.5a1.904 1.904 0 0 1 0-2.724L10.212 10 8.394 8.224a1.904 1.904 0 0 1 0-2.724z">
                  </path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="d-none d-lg-block col-lg-2"></div>
      </div>

    </div>
  </section>

<app-more-new-event-home></app-more-new-event-home>