

@import '/src/scss/variables';
@import '/src/scss/mixins';

// Page Header
.curved-img {
  border-bottom-right-radius: 100px;
  img {
    border-bottom-right-radius: 100px;
  }
}


.page-header {
  .history {
    padding: 15px 0;
    background-color: $white;
    border-bottom: 1px solid #e1e1e1;
    ul {
      @include flexCenter();
      justify-content: flex-start;
      li {
        margin-right: 10px;
        &.point {
          color: $main-blue;
        }
      }
    }
  }

  .safety-post {
    background-color: #f1f1f1;
    padding: 10px 20px;
    text-align: center;
    p {
      margin-bottom: 0;
      color: #757575;
      font-weight: 600;
      @media(max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  .page-title {
    padding: 25px 0;
    border-bottom: 1px solid #e1e1e1;
    h2 {
      padding: 0 35px;
      font-size: 56px;
      color: #000;
      @media(max-width: 992px) {
        font-size: 36px;
      }
    }
  }
}


// Banner
.banner {
  position: relative;
  .img-container {
    position: relative;
    max-height: 620px;
    overflow: hidden;
    img {
      width: 100%;
      transform: translateY(-10%);
    }
    .video-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      .banner_video {
        width: 100%;
        max-height: 100%;
      }
    }
  }
  .caption {
    padding: 25px 0 0 0;
    p {
      font-size: 18px;
      color: $text-muted;
    }
  }
  .video-controls {
    position: absolute;
    top: 80px;
    right: 80px;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    overflow: hidden;
    background-color: $white;
    border: 1px solid $white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 50;
    font-size: 16px;
    color: $main-blue;
    transition: all 0.3s;
    @media(max-width: 767px) {
      top: 60px;
      right: 60px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $main-blue;
      transition: all 0.3s;
    
    }
    &:hover {
      color: $white
    }
    &:hover::after {
      top: 0;
    }
    span {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100%;
      @include flexCenter();
    }
    span.hide {
      display: none;
    }
  }
}